#navbar{
    background:#416c94;
    color: white;
}

#logo{
    height: 50%;
    margin-left: 10%;
    margin-bottom: 0;
    margin-top: 0;
}

#paginaFeatures{
	background: url(../img/bgPage2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (max-width: 768px) {
	#paginaFeatures{
		background: url(../img/bgPage2.png);
		background-size: cover;
		background-repeat: no-repeat;
	}
}
.titulo{
    padding-top: 1%;
    text-transform: uppercase;
	color: #00cff7;
	letter-spacing: 4.5px;
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.legenda{
    font-family: 'Source Serif Pro', serif;
	font-size: 250%;
	color: #ffffff;
	/* letter-spacing: 1.5px; */
	font-weight: 600;
	margin-bottom: 3%;
}

.imgWrapper{
	width:20%
}

@media screen and (max-width: 768px) {
	.imgWrapper{
		width:40%
	}
}
/* media para mostrar slides somente para resolucoes < 1024px*/
@media (min-width: 1024px) {
	.fp-next{
		display:none;
	}
	.fp-prev{
		display:none;
	}
	.fp-slidesContainer{
	  display:none;
	}
}
/* media para esconder a exibição desktop para resoluções < 1024px*/
@media (max-width: 1024px) {
	.featuresDesktopImgWrapper{
		display: none;
	}
}
.featuresDesktopImgWrapper{
	
	/* background-color:white; */
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5%;
	width: 80%;
}

.roundedLeft{
	border-radius: 100px, 0, 0, 100px !important;
}

.roundedRight{
	border-radius: 0, 100px, 100px, 0 !important;
}

  
.subTitulo{
    margin-left:3%;
    margin-right:3%;
    font-size: 150%;
	font-family: 'Montserrat', sans-serif;
	color: #00cff7;
	letter-spacing: 1px;
	font-weight: bold;
	/* margin: 0 16%; */
	margin-top: 1%;
	margin-bottom: 3%;
	/* line-height: 40px; */
}

.smLegenda{
    word-break: word;
    font-family: 'Montserrat', sans-serif;
	font-size: 100%;
	letter-spacing: 1.5px;
	color:white;
	line-height: 20px;
    margin: 0 0;
    padding-bottom: 3%;
}

.featureBg{
    background-color:white;
}

.legendImg{
    padding-bottom:5%;
}

.tituloFeatures{
	padding-top:25px;
}

.fp-tableCellCustom {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
	height: 100%;
	padding-bottom: 25%;
	
}
@media screen and (max-width: 640px) {
	.fp-tableCellCustom{
		padding-bottom: 50%;
	}

}


