#navbar{
    background:#416c94;
    color: white;
}

#logo{
    height: 50%;
    margin-left: 10%;
    margin-bottom: 0;
    margin-top: 0;
}

#paginaFeatures{
    background: url(../img/bgPage2.png) center top;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.titulo{
    padding-top: 1%;
    text-transform: uppercase;
	color: #00cff7;
	letter-spacing: 4.5px;
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.legenda{
    font-family: 'Source Serif Pro', serif;
	font-size: 250%;
	color: #ffffff;
	/* letter-spacing: 1.5px; */
	font-weight: 600;
	margin-bottom: 3%;
}
.imgWrapper{
    width:40%
}
.subTitulo{
    margin-left:3%;
    margin-right:3%;
    font-size: 150%;
	font-family: 'Montserrat', sans-serif;
	color: #00cff7;
	letter-spacing: 1px;
	font-weight: bold;
	/* margin: 0 16%; */
	margin-top: 1%;
	margin-bottom: 3%;
	/* line-height: 40px; */
}
.smLegenda{
    word-break: word;
    font-family: 'Montserrat', sans-serif;
	font-size: 100%;
	letter-spacing: 1.5px;
	color: #829db2;
	line-height: 20px;
    margin: 0 0;
    padding-bottom: 3%;
}
.featureBg{
    background-color:white;
}
.legendImg{
    padding-bottom:5%;
}